# Игнорирование файлов находящихся в данных дирректориях
#/build/*
/debug/*
/dist/*
/nbproject/*

/*
# Игнорировать файлы с заданным расширением во всех дирректроиях проекта
*.txt
*.c
*.h

# Исключение из игнорирования
!Matrix_KeyBoard_4x4.c
!Matrix_KeyBoard_4x4.h

*Makefile
